body{
    width: 100%;
    height: 100%;
    margin: 0;
    background-color: khaki;
}
.container{
    margin:0 auto;
}
.header{
    width:1200px;
    height: 625px;
    margin:0 auto;
    background-color: crimson;
    text-align: center;
}
.main{
    width:1200px;
    height: 625px;
    margin:0 auto;
    background-color: rgb(51, 151, 250);
    position: relative;
}
.pre-footer{
    width:1200px;
    height: 425px;
    margin:0 auto;
    position: relative;
    background-color: rgb(43, 41, 41);
}
.footer{
    width:1200px;
    height: 50px;
    margin:0 auto;
    position: relative;
    background-color: rgb(80, 80, 80);
    text-align: center;
}
.images{
    font-size: 0;
    position: relative;
    margin: 0;
    width: 800px;
    height: 165px;
    top: 140px;
    left: 210px;
}
.image{
    text-align: center;
    font-size: 16px;
    display: inline-block;
    position: relative;
    vertical-align: bottom;
    width: 25%;
    height: 100%;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    opacity: 90%;
}
.image-png{
    text-align: center;
    font-size: 16px;
    display: inline-block;
    position: relative;
    vertical-align: bottom;
    width: 25%;
    height: 100%;
    background-color: rgb(233, 78, 78);
    background-repeat: no-repeat;
}
.image-icon{
    position: relative;

}
.title-project{
    position: relative;
    font-size: 24px;
    color:white;
    padding-top: 5px;
    margin: 0;
}
.title-desc{
    position: relative;
    font-size: 12px;
    color:white;
    padding-top: 5px;
    margin: 0;
}
.wrapper{
    position: relative;
    top: 20%;
}
.header-title{
    position: relative;
    margin: 0;
}
.header-title-main{
    position: relative;
    font-size: 30px;
    color:white;
    margin: 0;
    top: 100px;
}
.header-title-sub{
    position: relative;
    top: 100px;
    font-size: 19px;
    color:white;
    margin: 0;
}
.hr{
    position: relative;
    width: 50px;
    top: 100px;
    left: 575px;
}
#line{
    border: none;
    background-color: white;
    color:white;
    height: 4px;
}
.footer-text{
    position: relative;
    top:17px;
}
.pre-footer-content{
    position: relative;
    text-align: center;
}
.pre-footer-title{
    position: relative;
    top: 80px;
    font-size: 40px;
    color: white;
}
.btn-icon{
    position: relative;
    display: inline-block;
    vertical-align: bottom;
    top: 90px;
    width: 50px;
    height: 50px;
    margin: 10px;
    border: 2px solid rgb(80, 80, 80);
    border-radius: 4px;;
}
.twit{
    top: 2px;
    left: 2px;
}
.btn-icon.facebook:hover{
    transition: .3s;
    border: 2px solid rgba(3, 85, 209, 0.753);
    background-color: rgba(3, 85, 209, 0.753);
}
.btn-icon.twitter:hover{
    transition: .3s;
    border: 2px solid rgb(0, 204, 255);
    background-color: rgb(0, 204, 255);
}
.btn-icon.google:hover{
    transition: .3s;
    border: 2px solid rgb(255, 0, 0);
    background-color: rgb(255, 0, 0);
}
.btn-icon.linkedin:hover{
    transition: .3s;
    border: 2px solid blue;
    background-color: blue;
}
.btn-img-icon{
    position: relative;
    top: 27%;
}
.pre-footer-caption{
    position: relative;
    top:100px;
    color: rgb(201, 199, 199);
}
.input-text{
    position: relative;
    top: 130px;
    width: 650px;
    height: 50px;
    background-color: rgb(80, 80, 80);
    border: none;
}
.input-text::-webkit-input-placeholder{
    padding-left: 20px;
    color: rgb(201, 199, 199);
}
.pre-footer-subscribe{ 
    position: relative;
    top: 150px;
    left: 520px;
    width: 150px;
    height: 40px;
    background-color: rgb(43, 41, 41);
    border:2px solid rgb(80, 80, 80);
}
.btn-subscribe{
    position: relative;
    text-align:center;
    color: white;
    font-size: 17px;
    top: 10px;
}